<div class="input-group">
    <label for="userNameInput">Username</label>
    <input type="text" class="form-control" placeholder="Username" id="userNameInput">
    <label for="passwordInput">Password</label>
    <input type="text" class="form-control" placeholder="Username" id="passwordInput">
</div>